<h1>Página de Inicio</h1>
<p>Página principal</p>
<%= link_to "Productos", controller: "products", action: "index" %>
<%= link_to "Proveedores", controller: "suppliers", action: "index"  %>
<%= link_to "Clientes", controller: "customers", action: "index"  %>