
<h1>Cuenta Bancaria </h1>
<table summary="Suppliers form fields">
  <tr>
  <th><%= account_suppliers_form.label :no_cuenta %></th>
  <td><%= account_suppliers_form.text_field :no_cuenta %><h9>*</h9></td>
  </tr>
  <tr>
  <th><%= account_suppliers_form.label :titular %></th>
  <td><%= account_suppliers_form.text_field :titular %></td>
  </tr+>
     </table>
 